#updateEmail, #updatePassword, #deleteAccount {
  margin-left: 10px;
  /*FIGURE OUT WAY TO MAKE BUTTON ALIGN TO RIGHT*/
}

#loginthing {
  padding-bottom: 5vh;
  margin-top: 10vh;
  padding-top: 2vh;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  wrap: wrap;
  flex-direction: column;
}

@media (max-width: 780px) {
  #loginthing {
    border-radius: 0%;
  }
}

@media (max-width: 580px) {
  #loginthing {
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 0%;
    width: 100%;
  }
}


/*Registration & Login Main Buttons*/
.starter, .starter.btn-large:focus{
  margin-left: 10px;
  margin-right: 10px;
  background-color: #d41d3b;
}

.starter.btn-large:hover {
  background-color: #bf1a35;
}

/*Overall Registration & Login Modal*/
.modal {
  background-color: #d41d3b;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label{
  color: goldenrod;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus{
  border-bottom: 1px goldenrod;
  box-shadow: 0 1px 0 0 goldenrod;
}
/* valid color */
.input-field input[type=text].valid,
.input-field input[type=email].valid,
.input-field input[type=password].valid{
  border-bottom: 1px solid green;
  box-shadow: 0 1px 0 0 green;
}
/* invalid color */
.input-field input[type=text].invalid,
.input-field input[type=email].invalid,
.input-field input[type=password].invalid{
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: goldenrod;
}

h1, #title {
  margin-bottom: 0px;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #ac8248;
  font-family: 'sports_worldregular';
}

.collapsible-header, button, .modal-close {
  font-family: 'octin_sports_rgregular';
}

.modal-close {
  font-size: 20px;
}

html {
  min-height: 100%
}
body {
  background: repeating-linear-gradient(
    45deg,
    wheat,
    wheat 10px,
    #EFE7D8 10px,
    #EFE7D8 20px
  );
}

@font-face {
    font-family: 'sports_worldregular';
    src: url('../fonts/sportsWorld/sports_world-regular-webfont.woff2') format('woff2'),
         url('../fonts/sportsWorld/sports_world-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'octin_sports_rgregular';
    src: url('../fonts/sportsRegular/octin_sports_rg-webfont.woff2') format('woff2'),
         url('../fonts/sportsRegular/octin_sports_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
