.brand-logo, nav {
  text-transform: uppercase;
  letter-spacing: 4.5px;
  font-size: 2rem;
  padding-left: 4vh;
  font-family: 'octin_sports_rgregular';
}

@font-face {
    font-family: 'octin_sports_rgregular';
    src: url('../fonts/sportsRegular/octin_sports_rg-webfont.woff2') format('woff2'),
         url('../fonts/sportsRegular/octin_sports_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

nav {
  background-color: #d41d3b;
}

nav li {
  height: 64px;
}

nav .side-nav li {
  letter-spacing: normal;
}
