#settings {
  margin-top: 2vh;
  padding-top: 1.5vh;
  padding-bottom: 3vh;
  padding-left: 4vh;
  padding-right: 4vh;
  background-color: white;
  font-size: 17px;
  border-radius: 3vh;
}

html {
  min-height: 100%
}

body {
  background: repeating-linear-gradient(
    45deg,
    wheat,
    wheat 10px,
    #EFE7D8 10px,
    #EFE7D8 20px
  );
}

.collapsible-header {
  background-color: #d41d3b;
}

#settingsTitle {
  font-family: 'octin_sports_rgregular';
  font-size: 2.3rem;
}

.update, .update:focus {
  margin-right: 3vh;
  margin-bottom: 3vh;
  background-color:#ac8248;
}

.update.btn:hover {
  background-color: #9b7541;
}

#deleteAccount:hover {
  background-color: red;
}

#generalSettings {
  margin-bottom: 5vh;
}

@font-face {
    font-family: 'octin_sports_rgregular';
    src: url('../fonts/sportsRegular/octin_sports_rg-webfont.woff2') format('woff2'),
         url('../fonts/sportsRegular/octin_sports_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label{
  color: darkgoldenrod;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus{
  border-bottom: 1px darkgoldenrod;
  box-shadow: 0 1px 0 0 darkgoldenrod;
}
/* valid color */
.input-field input[type=text].valid,
.input-field input[type=email].valid,
.input-field input[type=password].valid{
  border-bottom: 1px solid green;
  box-shadow: 0 1px 0 0 green;
}
/* invalid color */
.input-field input[type=text].invalid,
.input-field input[type=email].invalid,
.input-field input[type=password].invalid{
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: darkgoldenrod;
}
