body {
  background: repeating-linear-gradient(
    45deg,
    wheat,
    wheat 10px,
    #EFE7D8 10px,
    #EFE7D8 20px
  );
}

html {
  min-height: 100%
}

#leaderboard {
  margin-top: 4.5vh;
  background-color: white;
  border-radius: 2vh;
  border: 10px solid #d41d3b;
}

#recentGames {
  margin-top: 6vh;
}

.redCard {
  background-color: #d41d3b;
}

.goldCard {
  background-color: wheat;
}

th {
  font-family: 'sports_worldregular';
  /*color: #d41d3b;*/
}

thead {
  color: #ac8248;
  font-size: 3.5vh;
}

#leaderboard tbody {
  font-size: 2.5vh;
}

.fixed-action-btn {
  top: 10vh;
  left: 10vh;
}

td {
  color: #424242;
}

#leagueName {
  font-family: 'sports_worldregular';
  color: #b91222;
  padding-bottom: 1vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.75);
  padding-left: 5vh;
  padding-right: 5vh;
  padding-top: .9vh;
  margin-top: 2vh;
  padding-bottom: 1vh;
  margin-bottom: 5vh;
}

h3 {
  margin-top: 1vh;
}

#addGameBtn {
  background-color: #ef5350;
}

.btn-floating i {
  color: white;
}

/*table.striped>tbody>tr:nth-child(odd){
  background-color: #EFE7D8;
}*/

@font-face {
    font-family: 'octin_sports_rgregular';
    src: url('../fonts/sportsRegular/octin_sports_rg-webfont.woff2') format('woff2'),
         url('../fonts/sportsRegular/octin_sports_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sports_worldregular';
    src: url('../fonts/sportsWorld/sports_world-regular-webfont.woff2') format('woff2'),
         url('../fonts/sportsWorld/sports_world-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#addGameBtn2 {
  margin-top: 4vh;
  display: none;
}

@media (max-width: 700px) {
  .fixed-action-btn {
    display: none;
  }
  #addGameBtn2 {
    display: inherit;
  }
  #addGameBtn2 a {
    background-color: #b89000;
  }
}

.rightborder {
  border-right: 1.5px solid black
}

.gameps {
  margin-top: .2vh;
  margin-bottom: .2vh;
  color: white;
}

.gameCard {
  border-radius: 5px;
  /*border: 2px solid black;*/
  font-size: 1.35rem;
}

.player2td {
  padding-top: 0px;
  padding-bottom: 0px;
}

.player2tdtop {
  padding-bottom: 0.5rem;
}

.empty {
  padding-top: 2.7rem;
}

.player1score {
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 1.5px solid black;
  color: white;
  font-size: 2.5rem;
  font-family: 'sports_worldregular';
}

.player2score {
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 1.5px solid black;
  color: white;
  font-size: 2.5rem;
  font-family: 'sports_worldregular';
}

.winningscore {
  color: #dead68;
}

#recentGamesTitle {
  font-family: 'octin_sports_rgregular';
  font-size: 2.3rem;
  margin-bottom: 2.75vh;
  color: #363535;
}
